!!! 5
%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'


    %title
      Колобок трэвел

  %body
    .topbar
      .wrapper
        .logo

        %ul.nav
          %li
            = link_to 'Все города', root_path
          %li
            = link_to 'О проекте', root_path
          %li
            = link_to 'Партнерам', root_path
          %li
            = link_to 'Войти', root_path, class: 'ghost-signin'

    = yield

    #footer
      .wrapper
        .copy
          &copy;
          Колобок.travel
        %ul.nav
          %li
            = link_to 'Все города', root_path
          %li
            = link_to 'О проекте', root_path
          %li
            = link_to 'Партнерам', root_path
